<form id="add-service">
  <legend>Add service</legend>
  <input class="form-control clientId"name="service[client_id]" type="text" placeholder="Client ID">
  <textarea class="form-control" name="service[description]" type="text" placeholder="Service description" rows='7'></textarea>
  <input class="form-control"name="service[service_date]" type="date" placeholder="Date of the service">
  <input class="form-control"name="service[price]" type="number" step='0.10' placeholder="Service Price">
  <input type="submit" name="submit" value="Add service!">
</form>
