  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
        {{!-- <h2 class="panel panel-primary" id="temp-message"></h2> --}}
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="row"><h5 id="temp-message"></h5></div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-8">
        <!-- /.panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Recent Services
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <div class="recent-services-table"></div>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.col-lg-4 (nested) -->
              <!-- /.col-lg-8 (nested) -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        {{!-- <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Latest services provided
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <ul class="timeline">
              <li>
                <div class="timeline-badge"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Client Name</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Service description / maybe a table withdisplayed data</p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
          <!-- /.panel-body -->
        </div> --}}
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-8 -->
      {{!-- <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Notifications Panel
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="list-group">
              <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> Number of clients
                                    <span class="pull-right text-muted small number-of-clients">Placeholder
                                    </span>
                                </a>
              <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> Total monthly income
                                    <span class="pull-right text-muted small monthly-income">Placeholder
                                    </span>
                                </a>
              <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Services provided this month
                                    <span class="pull-right text-muted small monthly-services">Placeholder
                                    </span>
                                </a>
            </div>
          </div>
          <!-- /.panel-body -->
        </div>

      </div> --}}
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
